- model_class = Fragment
.page-header
  %h3 Code shared with me
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:title)
      %th Author
      %th= model_class.human_attribute_name(:has_bugs)
      %th= model_class.human_attribute_name(:created_at)
  %tbody
    - @fragments.each do |fragment|
      %tr
        %td= link_to fragment.title, fragment_path(fragment)
        %td= User.find(fragment.user_id).email
        %td= fragment.has_bugs
        %td=l fragment.created_at

= link_to t('.new', :default => t("helpers.links.new")), new_fragment_path, :class => 'btn btn-primary'
