- model_class = Fragment
%h3= @fragment.title
%p
  This is
  = @fragment.is_public ? "public" : "private"
  code fragment
  = @fragment.has_bugs ? "with" : "without"
  bug(s)

= raw Pygments.highlight(@fragment.code, :lexer => @fragment.language)

%p Click at user to invite him:
- User.all.each do |user|
  .btn.btn-default= link_to user.email

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), fragments_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_fragment_path(@fragment), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), fragment_path(@fragment), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
